/* Các tùy chỉnh CSS của giao diện nên để vào đây */
@media screen and (max-width: 768px) {
  .table-bordered {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

body {
  background-image: linear-gradient(to right, #000, #333);
  padding-left: 0px;
  padding-right: 0px;
}

.taman {
  display: none;
}

.carousel-control * {
  font-size: 2em;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.carousel-inner img {
  width: 100%;
}

.pw-card .carousel img {
  border-radius: 10px;
}

.nhapdienthoai {
  background: linear-gradient(180deg, #1c5, #284);
  height: 220px;
  padding: 10px;
  border-radius: 20px;
  margin: 0px 10px;
}

.content {
  max-width: 600px;
  margin: auto;
}

.avatar {
  height: 100px;
  padding: 10px;
}

.avatar-box {
  float: left;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: lightblue;
}

.avatar-text {
  width: 50%;
  color: white;
  display: inline-block;
  padding-left: 10px;
}

.avatar-text-name {
  font-weight: bold;
  font-size: 14pt;
}

.avatar-text-desc {
  font-size: 10pt;
}

.avatar-tool-box {
  float: right;
  text-align: right;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 2px;
}

.service {
  background: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  clear: both;
  padding: 10px 10px 50px 10px;
  height: calc(100vh - 50px);
}

.service-menu {
  margin: 10px;
}

.service-box {
  margin-top: 5px;
}

.service-box-image {
  width: 70px;
  height: 70px;
  background: #ccc;
  border-radius: 50%;
  margin: auto;
}

.service-box-image span {
  font-size: 2em;
  color: black;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

.service-box-text {
  text-align: center;
  font-size: 0.9em;
}

.footer {
  position: fixed;
  width: 100%;
  max-width: 600px;
  bottom: 0px;
  background: white;
  height: 50px;
  border-top: 1px solid gray;
}

.footer div {
  text-align: center;
  font-size: 0.9em;
  line-height: 1.4em;
  cursor: pointer;
}

.footer div.fa {
  font-size: 1.5em;
}

.footer div:hover,
.service-box:hover * {
  color: orange;
}

.footer-button {
  background: #333;
  width: 100px;
  height: 100px;
  top: -30px;
  border-radius: 100%;
  padding: 20px;
  color: white;
  font-size: 1.2em !important;
  margin: auto;
  position: relative;
}

#alert-vhttp {
  display: none;
}

.box-content {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #3dc2ff;
  box-shadow: 3px 3px 5px #d3d3d3;
  border-color: #d3d3d3 gray gray #d3d3d3;
  border-style: solid;
  border-width: 1px;
}

.pw-banner img {
  width: -webkit-fill-available;
  margin: 5px 0px;
}

.pw-card {
  padding: 5px 10px;
}

.pw-card-content {
  color: #000;
  border-radius: 10px;
  padding: 5px;
  background: white;
  line-height: 18px;
  display: inline-block;
  position: relative;
  box-shadow: 3px 3px 5px #d3d3d3;
  border-color: #d3d3d3 gray gray #d3d3d3;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  height: 150px;
  width: 100%;
}

.pw-card-content.chitiet {
  height: unset !important;
}


.pw-card-left {
  width: 140px;
  float: left;
}
.pw-card-left img {
  height: 140px;
  width: 140px;
}
.pw-card-right {
  width: calc(100% - 150px);
  float: right;
}

table {
  background: white;
}

.box-image {
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.box-image img {
  width: -webkit-fill-available;
  max-width: 200px;
  max-height: 200px;
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  overflow: hidden;
  font-weight: bold;
}

.goiy {
  position: relative;
}

.danhsachgoiy {
  position: absolute;
  width: 100%;
  background: #fff;
  max-height: 400px;
  overflow-y: scroll;
  display: none;
  z-index: 10;
  box-shadow: 3px 3px 5px #d3d3d3;
  border-color: #d3d3d3 gray gray #d3d3d3;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.danhsachgoiy div:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.danhsachgoiy div:hover {
  background-color: lightgreen;
}

#pw-dismiss {
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: none;
  position: fixed;
}

.pw-image {
  width: 128px;
  height: 128px;
  border-radius: 10px;
}

.pw-image-box {
  float: left;
  position: relative;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.pw-image-click {
  background: white;
  border-radius: 50%;
  position: absolute;
  font-size: 1.5em;
  right: -5px;
  top: -5px;
}

.pw-image-click:hover {
  color: red;
}

.pw-image-panel {
  margin-bottom: 5px;
}

.pw-none {
  display: none !important;
}

.pw-alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  min-width: 200px;
  display: none;
  z-index: 10000;
}

.ui-datepicker {
  z-index: 10000 !important;
}

.sm-thumbnail {
  width: 64px !important;
  height: 64px !important;
  background: url('/themes/default/images/thumbnail-xxs.jpg') !important;
}

.pw-side-bar {
  background: white;
  -webkit-box-shadow: 0 2px 15px -4px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 2px 15px -4px rgba(0, 0, 0, .15);
  box-shadow: 0 2px 15px -4px rgb(0 0 0 / 15%);
}

.panel-body {
  max-width: 800px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background: white;
}

.pw-info-panel {
  padding: 10px;
  text-align: center;
}

.pw-menu-group {
  font-size: 1.2em;
}

.pw-menu-header {
  color: gray;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}

.pw-menu-content {
  padding-right: 20px;
}

.pw-menu-item {
  display: block;
  padding-left: 20px;
  color: black;
  margin: 5px 0px;
}

.pw-menu-item.active {
  color: green;
  font-weight: bold;
  border-left: 5px solid green;
  padding-left: 15px;
}

.pw-content {
  background: white;
  padding: 10px;
}

.input-border {
  border-radius: 10px;
  position: relative;
  background: white;
  padding: 3px;
  border: 1px solid gray;
}
.input-button {
  background-color: white;
  position: absolute;
  right: 5px;
  border: none;
}
.input-real {
  background-color: white;
  width: 100%;
  border: none;
}
